# .gitignore

# testing
/test-server/

# untracked stuff that I might want to use later
/stuff/

/node_modules/

# ts
tsconfig.tsbuildinfo

.cache

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.yarn-integrity

rectifier
