@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url(https://web.archive.org/web/20190604020329im_/https://fonts.gstatic.com/s/notoserif/v7/ga6Kaw1J5X9T9RW6j9bNfFImajC-.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(https://web.archive.org/web/20190604020329im_/https://fonts.gstatic.com/s/notoserif/v7/ga6Vaw1J5X9T9RW6j9bNfFIu0RWuc-VJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url(https://web.archive.org/web/20190604020329im_/https://fonts.gstatic.com/s/notoserif/v7/ga6Iaw1J5X9T9RW6j9bNfFcWbQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url(https://web.archive.org/web/20190604020329im_/https://fonts.gstatic.com/s/notoserif/v7/ga6Law1J5X9T9RW6j9bNdOwzfReedA.ttf) format('truetype');
}

/*
     FILE ARCHIVED ON 02:03:29 Jun 04, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:55:12 Aug 15, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 2108.154
  exclusion.robots.policy: 0.347
  load_resource: 511.76
  esindex: 0.024
  RedisCDXSource: 6.332
  LoadShardBlock: 209.236 (3)
  PetaboxLoader3.datanode: 458.449 (5)
  CDXLines.iter: 225.736 (3)
  exclusion.robots: 0.37
  PetaboxLoader3.resolve: 99.819 (2)
*/